<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>  
    <!-- 准备好一个容器 -->
     <div id="root">
        姓: <input type="text" v-model="firstName"> <br> 
        名: <input type="text" v-model="lastName"> <br>
        全名：<span>{{fullName}}</span>
     </div>

     <script type="text/javascript">
        Vue.config.productionTip = false  //阻止vue在启动时生成生产提示

        // 创建vue实例
        const vm = new Vue({
            el: '#root',  
            data: {
                firstName: '张',
                lastName: '三'
            },
            computed: {
                fullName: {
                    // get有什么作用？当有人读取fullName时，get就会被调用，并且返回值就作为fullName的值
                    // get什么时候调用？1.初次读取fullName时    2.所依赖的数据发生变化时
                    get(){
                        // 这里的this是vm
                        console.log(this);
                        return this.firstName + '-' + this.lastName
                    },
                    // set什么时候调用？当fullName被修改时
                    set(value){
                        console.log(value);
                        const arr = value.split('-')
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                    }
                }
            }
        })
     </script>
</body>
</html>